/********************
 METRONIC COMPONENTS 
********************/
/***
General reset
***/
/* Set default body */
body {
  color: black;
  font-family: "Open Sans", sans-serif;
  padding: 0px !important;
  margin: 0px !important;
  font-size: 13px;
  direction: ltr;
}

/*
 Internet Explorer 10 doesn't differentiate device width from viewport width, and thus doesn't 
 properly apply the media queries in Bootstrap's CSS. To address this, 
 you can optionally include the following CSS and JavaScript to work around this problem until Microsoft issues a fix.
*/




/* Links */
a {
  text-shadow: none;
  color: #428bca;
}
a:hover {
  color: #2a6496;
}
a:focus, a:hover, a:active {
  outline: 0;
}

/* Horizontal break */
hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 0;
}


/* Code */
code {
  border: 1px solid #e1e1e1;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}


/***
Custom vertical inline menu
***/
.ver-inline-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}
.ver-inline-menu li {
  position: relative;
  margin-bottom: 1px;
}
.ver-inline-menu li i {
  width: 37px;
  height: 37px;
  display: inline-block;
  color: #b9cbd5;
  font-size: 15px;
  padding: 12px 10px 10px 8px;
  margin: 0 8px 0 0;
  text-align: center;
  background: #e0eaf0 !important;
}
.ver-inline-menu li a {
  font-size: 15px;
  font-weight: 300;
  color: #033655;
  display: block;
  background: #f0f6fa;
  border-left: solid 2px #c4d5df;
}
.ver-inline-menu li:hover a {
  background: #e0eaf0;
  text-decoration: none;
}
.ver-inline-menu li:hover i {
  color: #fff;
  background: #c4d5df !important;
}
.ver-inline-menu li.active a {
  border-left: solid 2px #0c91e5;
}
.ver-inline-menu li.active i {
  background: #0c91e5 !important;
}
.ver-inline-menu li.active a, .ver-inline-menu li.active i {
  color: #fff;
  background: #169ef4;
  text-decoration: none;
}
.ver-inline-menu li.active a, .ver-inline-menu li:hover a {
  font-size: 15px;
}
.ver-inline-menu li.active:after {
  content: '';
  display: inline-block;
  border-bottom: 6px solid transparent;
  border-top: 6px solid transparent;
  border-left: 6px solid #169ef4;
  position: absolute;
  top: 12px;
  right: -5px;
}

/***
Customized Bootstrap Buttons
***/
/* Default buttons */
.btn {
  border-width: 0;
  padding: 7px 14px;
  font-size: 14px;
  outline: none !important;
  background-image: none !important;
  filter: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
}
.btn.dropdown-toggle, .btn-group .btn.dropdown-toggle, .btn:hover, .btn:disabled, .btn[disabled], .btn:focus, .btn:active, .btn.active {
  outline: none !important;
  background-image: none !important;
  filter: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
}


/* Button sizes */
.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  vertical-align: middle;
}
.btn-lg > i {
  font-size: 18px;
}

.btn > i {
  font-size: 14px;
}

.btn-sm,
.btn-xs {
  padding: 6px 10px 5px 10px;
  font-size: 13px;
  line-height: 1.5;
}
.btn-sm > i,
.btn-xs > i {
  font-size: 13px;
}

.btn-xs {
  padding: 1px 5px;
}


/***
Fontawesome Icons
***/

[class*=" fa-"] {
  display: inline-block;
  margin-top: 1px;
  font-size: 14px;
  *margin-right: .3em;
  line-height: 14px;
  -webkit-font-smoothing: antialiased;
}

/* Make font awesome icons fixed width */
li [class*=" fa-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}


/***
Forms
***/

/* Form inputs */
.form-control {
  font-size: 14px;
  font-weight: normal;
  color: #333333;
  background-color: white;
  border: 1px solid #e5e5e5;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eeeeee;
}


select.input-sm {
  height: 28px;
  line-height: 28px;
  padding: 2px 10px;
}


/* Form labels */
label {
  font-weight: 400;
  font-size: 14px;
}


/***
Custom tabs
***/

.tabbable-custom {
  margin-bottom: 0px;
  padding: 0px;
  overflow: hidden;
  /* justified tabs */
  /* boxless tabs */
  /* below justified tabs */
  /* full width tabs */
  /* below tabs */
}
.tabbable-custom > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-custom > .nav-tabs > li {
  margin-right: 2px;
  border-top: 2px solid transparent;
}
.tabbable-custom > .nav-tabs > li > a {
  margin-right: 0;
}
.tabbable-custom > .nav-tabs > li > a:hover {
  background: none;
  border-color: transparent;
}
.tabbable-custom > .nav-tabs > li.active {
  border-top: 3px solid #f3565d;
  margin-top: 0;
  position: relative;
}
.tabbable-custom > .nav-tabs > li.active > a {
  border-top: none;
  font-weight: 400;
}
.tabbable-custom > .nav-tabs > li.active > a:hover {
  border-top: none;
  background: #fff;
  border-color: #d4d4d4 #d4d4d4 transparent;
}
.tabbable-custom > .tab-content {
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 10px;
}
.tabbable-custom.nav-justified .tab-content {
  margin-top: -1px;
}
.tabbable-custom.boxless > .tab-content {
  padding: 15px 0;
  border-left: none;
  border-right: none;
  border-bottom: none;
}
.tabbable-custom.tabs-below.nav-justified .tab-content {
  margin-top: 0px;
  margin-bottom: -2px;
}
.tabbable-custom.tabbable-full-width .nav-tabs > li > a {
  color: #424242;
  font-size: 15px;
  padding: 9px 15px;
}
.tabbable-custom.tabbable-full-width > .tab-content {
  padding: 15px 0;
  border-left: none;
  border-right: none;
  border-bottom: none;
}
.tabbable-custom.tabs-below .nav-tabs > li > a {
  border-top: none;
  border-bottom: 2px solid transparent;
  margin-top: -1px;
}
.tabbable-custom.tabs-below .nav-tabs > li.active {
  border-top: none;
  border-bottom: 3px solid #d12610;
  margin-bottom: 0;
  position: relative;
}
.tabbable-custom.tabs-below .nav-tabs > li.active > a {
  border-bottom: none;
}
.tabbable-custom.tabs-below .nav-tabs > li.active > a:hover {
  background: #fff;
  border-color: #d4d4d4 #d4d4d4 transparent;
}


/* Button */
.btn.default {
  color: #333333;
  background-color: #e5e5e5;
  border-color: "";
}
.btn.default:hover, .btn.default:focus, .btn.default:active {
  color: #333333;
  background-color: #d6d6d6;
}
.btn.default:active {
  background-image: none;
}


/**********
Blue Colors
***********/
/***
Blue Default
***/
/* Button */
.blue.btn {
  color: white;
  background-color: #4b8df8;
  border-color: "";
}
.blue.btn:hover, .blue.btn:focus, .blue.btn:active, .blue.btn.active {
  color: white;
  background-color: #2e7af7;
}
.blue.btn:active, .blue.btn.active {
  background-image: none;
}
.blue.btn.disabled, .blue.btn.disabled:hover, .blue.btn.disabled:focus, .blue.btn.disabled:active, .blue.btn.disabled.active, .blue.btn[disabled], .blue.btn[disabled]:hover, .blue.btn[disabled]:focus, .blue.btn[disabled]:active, .blue.btn[disabled].active, fieldset[disabled] .blue.btn, fieldset[disabled] .blue.btn:hover, fieldset[disabled] .blue.btn:focus, fieldset[disabled] .blue.btn:active, fieldset[disabled] .blue.btn.active {
  background-color: #4b8df8;
}


/***
Blue Madison
***/
/* Button */
.blue-madison.btn {
  color: white;
  background-color: #578ebe;
  border-color: "";
}
.blue-madison.btn:hover, .blue-madison.btn:focus, .blue-madison.btn:active, .blue-madison.btn.active {
  color: white;
  background-color: #457fb2;
}
.blue-madison.btn:active, .blue-madison.btn.active {
  background-image: none;
}
.blue-madison.btn.disabled, .blue-madison.btn.disabled:hover, .blue-madison.btn.disabled:focus, .blue-madison.btn.disabled:active, .blue-madison.btn.disabled.active, .blue-madison.btn[disabled], .blue-madison.btn[disabled]:hover, .blue-madison.btn[disabled]:focus, .blue-madison.btn[disabled]:active, .blue-madison.btn[disabled].active, fieldset[disabled] .blue-madison.btn, fieldset[disabled] .blue-madison.btn:hover, fieldset[disabled] .blue-madison.btn:focus, fieldset[disabled] .blue-madison.btn:active, fieldset[disabled] .blue-madison.btn.active {
  background-color: #578ebe;
}
.blue-madison.btn .badge {
  color: #578ebe;
  background-color: white;
}


/***
Blue Hoki
***/
/* Button */
.blue-hoki.btn {
  color: white;
  background-color: #67809f;
  border-color: "";
}
.blue-hoki.btn:hover, .blue-hoki.btn:focus, .blue-hoki.btn:active, .blue-hoki.btn.active {
  color: white;
  background-color: #5a718e;
}
.blue-hoki.btn:active, .blue-hoki.btn.active {
  background-image: none;
}
.blue-hoki.btn.disabled, .blue-hoki.btn.disabled:hover, .blue-hoki.btn.disabled:focus, .blue-hoki.btn.disabled:active, .blue-hoki.btn.disabled.active, .blue-hoki.btn[disabled], .blue-hoki.btn[disabled]:hover, .blue-hoki.btn[disabled]:focus, .blue-hoki.btn[disabled]:active, .blue-hoki.btn[disabled].active, fieldset[disabled] .blue-hoki.btn, fieldset[disabled] .blue-hoki.btn:hover, fieldset[disabled] .blue-hoki.btn:focus, fieldset[disabled] .blue-hoki.btn:active, fieldset[disabled] .blue-hoki.btn.active {
  background-color: #67809f;
}



/***
Blue Stell
***/
/* Button */
.blue-steel.btn {
  color: white;
  background-color: #4b77be;
  border-color: "";
}
.blue-steel.btn:hover, .blue-steel.btn:focus, .blue-steel.btn:active, .blue-steel.btn.active {
  color: white;
  background-color: #3e68ac;
}
.blue-steel.btn:active, .blue-steel.btn.active {
  background-image: none;
}
.blue-steel.btn.disabled, .blue-steel.btn.disabled:hover, .blue-steel.btn.disabled:focus, .blue-steel.btn.disabled:active, .blue-steel.btn.disabled.active, .blue-steel.btn[disabled], .blue-steel.btn[disabled]:hover, .blue-steel.btn[disabled]:focus, .blue-steel.btn[disabled]:active, .blue-steel.btn[disabled].active, fieldset[disabled] .blue-steel.btn, fieldset[disabled] .blue-steel.btn:hover, fieldset[disabled] .blue-steel.btn:focus, fieldset[disabled] .blue-steel.btn:active, fieldset[disabled] .blue-steel.btn.active {
  background-color: #4b77be;
}
/***********
Green Colors
************/
/***
Green Default
***/
/* Button */
.green.btn {
  color: white;
  background-color: #35aa47;
  border-color: "";
}
.green.btn:hover, .green.btn:focus, .green.btn:active, .green.btn.active {
  color: white;
  background-color: #2e933d;
}
.green.btn:active, .green.btn.active {
  background-image: none;
}
.green.btn.disabled, .green.btn.disabled:hover, .green.btn.disabled:focus, .green.btn.disabled:active, .green.btn.disabled.active, .green.btn[disabled], .green.btn[disabled]:hover, .green.btn[disabled]:focus, .green.btn[disabled]:active, .green.btn[disabled].active, fieldset[disabled] .green.btn, fieldset[disabled] .green.btn:hover, fieldset[disabled] .green.btn:focus, fieldset[disabled] .green.btn:active, fieldset[disabled] .green.btn.active {
  background-color: #35aa47;
}

/***
Green Seagreen
***/
/* Button */
.green-seagreen.btn {
  color: white;
  background-color: #1ba39c;
  border-color: "";
}
.green-seagreen.btn:hover, .green-seagreen.btn:focus, .green-seagreen.btn:active, .green-seagreen.btn.active {
  color: white;
  background-color: #178983;
}
.green-seagreen.btn:active, .green-seagreen.btn.active {
  background-image: none;
}
.green-seagreen.btn.disabled, .green-seagreen.btn.disabled:hover, .green-seagreen.btn.disabled:focus, .green-seagreen.btn.disabled:active, .green-seagreen.btn.disabled.active, .green-seagreen.btn[disabled], .green-seagreen.btn[disabled]:hover, .green-seagreen.btn[disabled]:focus, .green-seagreen.btn[disabled]:active, .green-seagreen.btn[disabled].active, fieldset[disabled] .green-seagreen.btn, fieldset[disabled] .green-seagreen.btn:hover, fieldset[disabled] .green-seagreen.btn:focus, fieldset[disabled] .green-seagreen.btn:active, fieldset[disabled] .green-seagreen.btn.active {
  background-color: #1ba39c;
}

/***
Green Haze
***/
/* Button */
.green-haze.btn {
  color: white;
  background-color: #44b6ae;
  border-color: "";
}
.green-haze.btn:hover, .green-haze.btn:focus, .green-haze.btn:active, .green-haze.btn.active {
  color: white;
  background-color: #3ca099;
}
.green-haze.btn:active, .green-haze.btn.active {
  background-image: none;
}
.green-haze.btn.disabled, .green-haze.btn.disabled:hover, .green-haze.btn.disabled:focus, .green-haze.btn.disabled:active, .green-haze.btn.disabled.active, .green-haze.btn[disabled], .green-haze.btn[disabled]:hover, .green-haze.btn[disabled]:focus, .green-haze.btn[disabled]:active, .green-haze.btn[disabled].active, fieldset[disabled] .green-haze.btn, fieldset[disabled] .green-haze.btn:hover, fieldset[disabled] .green-haze.btn:focus, fieldset[disabled] .green-haze.btn:active, fieldset[disabled] .green-haze.btn.active {
  background-color: #44b6ae;
}

/***********
Grey Colors
************/
/***
Grey Default
***/
/* Button */
.grey.btn {
  color: #333333;
  background-color: #e5e5e5;
  border-color: "";
}
.grey.btn:hover, .grey.btn:focus, .grey.btn:active, .grey.btn.active {
  color: #333333;
  background-color: #d6d6d6;
}
.grey.btn:active, .grey.btn.active {
  background-image: none;
}
.grey.btn.disabled, .grey.btn.disabled:hover, .grey.btn.disabled:focus, .grey.btn.disabled:active, .grey.btn.disabled.active, .grey.btn[disabled], .grey.btn[disabled]:hover, .grey.btn[disabled]:focus, .grey.btn[disabled]:active, .grey.btn[disabled].active, fieldset[disabled] .grey.btn, fieldset[disabled] .grey.btn:hover, fieldset[disabled] .grey.btn:focus, fieldset[disabled] .grey.btn:active, fieldset[disabled] .grey.btn.active {
  background-color: #e5e5e5;
}


/***
Grey Cascade
***/
/* Button */
.grey-cascade.btn {
  color: white;
  background-color: #95a5a6;
  border-color: "";
}
.grey-cascade.btn:hover, .grey-cascade.btn:focus, .grey-cascade.btn:active, .grey-cascade.btn.active {
  color: white;
  background-color: #849798;
}
.grey-cascade.btn:active, .grey-cascade.btn.active {
  background-image: none;
}
.grey-cascade.btn.disabled, .grey-cascade.btn.disabled:hover, .grey-cascade.btn.disabled:focus, .grey-cascade.btn.disabled:active, .grey-cascade.btn.disabled.active, .grey-cascade.btn[disabled], .grey-cascade.btn[disabled]:hover, .grey-cascade.btn[disabled]:focus, .grey-cascade.btn[disabled]:active, .grey-cascade.btn[disabled].active, fieldset[disabled] .grey-cascade.btn, fieldset[disabled] .grey-cascade.btn:hover, fieldset[disabled] .grey-cascade.btn:focus, fieldset[disabled] .grey-cascade.btn:active, fieldset[disabled] .grey-cascade.btn.active {
  background-color: #95a5a6;
}



/***
Grey Silver
***/
/* Button */
.grey-silver.btn {
  color: white;
  background-color: #bfbfbf;
  border-color: "";
}
.grey-silver.btn:hover, .grey-silver.btn:focus, .grey-silver.btn:active, .grey-silver.btn.active {
  color: white;
  background-color: #b0b0b0;
}
.grey-silver.btn:active, .grey-silver.btn.active {
  background-image: none;
}
.grey-silver.btn.disabled, .grey-silver.btn.disabled:hover, .grey-silver.btn.disabled:focus, .grey-silver.btn.disabled:active, .grey-silver.btn.disabled.active, .grey-silver.btn[disabled], .grey-silver.btn[disabled]:hover, .grey-silver.btn[disabled]:focus, .grey-silver.btn[disabled]:active, .grey-silver.btn[disabled].active, fieldset[disabled] .grey-silver.btn, fieldset[disabled] .grey-silver.btn:hover, fieldset[disabled] .grey-silver.btn:focus, fieldset[disabled] .grey-silver.btn:active, fieldset[disabled] .grey-silver.btn.active {
  background-color: #bfbfbf;
}


/***********
Red Colors
************/
/***
Red Default
***/
/* Button */
.red.btn {
  color: white;
  background-color: #d84a38;
  border-color: "";
}
.red.btn:hover, .red.btn:focus, .red.btn:active, .red.btn.active {
  color: white;
  background-color: #ca3a28;
}
.red.btn:active, .red.btn.active {
  background-image: none;
}
.red.btn.disabled, .red.btn.disabled:hover, .red.btn.disabled:focus, .red.btn.disabled:active, .red.btn.disabled.active, .red.btn[disabled], .red.btn[disabled]:hover, .red.btn[disabled]:focus, .red.btn[disabled]:active, .red.btn[disabled].active, fieldset[disabled] .red.btn, fieldset[disabled] .red.btn:hover, fieldset[disabled] .red.btn:focus, fieldset[disabled] .red.btn:active, fieldset[disabled] .red.btn.active {
  background-color: #d84a38;
}


/***
Red Pink
***/
/* Button */
.red-pink.btn {
  color: white;
  background-color: #e08283;
  border-color: "";
}
.red-pink.btn:hover, .red-pink.btn:focus, .red-pink.btn:active, .red-pink.btn.active {
  color: white;
  background-color: #da696b;
}
.red-pink.btn:active, .red-pink.btn.active {
  background-image: none;
}
.red-pink.btn.disabled, .red-pink.btn.disabled:hover, .red-pink.btn.disabled:focus, .red-pink.btn.disabled:active, .red-pink.btn.disabled.active, .red-pink.btn[disabled], .red-pink.btn[disabled]:hover, .red-pink.btn[disabled]:focus, .red-pink.btn[disabled]:active, .red-pink.btn[disabled].active, fieldset[disabled] .red-pink.btn, fieldset[disabled] .red-pink.btn:hover, fieldset[disabled] .red-pink.btn:focus, fieldset[disabled] .red-pink.btn:active, fieldset[disabled] .red-pink.btn.active {
  background-color: #e08283;
}


/***
Red Intense
***/
/* Button */
.red-intense.btn {
  color: white;
  background-color: #e35b5a;
  border-color: "";
}
.red-intense.btn:hover, .red-intense.btn:focus, .red-intense.btn:active, .red-intense.btn.active {
  color: white;
  background-color: #df4140;
}
.red-intense.btn:active, .red-intense.btn.active {
  background-image: none;
}
.red-intense.btn.disabled, .red-intense.btn.disabled:hover, .red-intense.btn.disabled:focus, .red-intense.btn.disabled:active, .red-intense.btn.disabled.active, .red-intense.btn[disabled], .red-intense.btn[disabled]:hover, .red-intense.btn[disabled]:focus, .red-intense.btn[disabled]:active, .red-intense.btn[disabled].active, fieldset[disabled] .red-intense.btn, fieldset[disabled] .red-intense.btn:hover, fieldset[disabled] .red-intense.btn:focus, fieldset[disabled] .red-intense.btn:active, fieldset[disabled] .red-intense.btn.active {
  background-color: #e35b5a;
}



/***
Red Flamingo
***/
/* Button */
.red-flamingo.btn {
  color: white;
  background-color: #ef4836;
  border-color: "";
}
.red-flamingo.btn:hover, .red-flamingo.btn:focus, .red-flamingo.btn:active, .red-flamingo.btn.active {
  color: white;
  background-color: #ed2e1a;
}
.red-flamingo.btn:active, .red-flamingo.btn.active {
  background-image: none;
}
.red-flamingo.btn.disabled, .red-flamingo.btn.disabled:hover, .red-flamingo.btn.disabled:focus, .red-flamingo.btn.disabled:active, .red-flamingo.btn.disabled.active, .red-flamingo.btn[disabled], .red-flamingo.btn[disabled]:hover, .red-flamingo.btn[disabled]:focus, .red-flamingo.btn[disabled]:active, .red-flamingo.btn[disabled].active, fieldset[disabled] .red-flamingo.btn, fieldset[disabled] .red-flamingo.btn:hover, fieldset[disabled] .red-flamingo.btn:focus, fieldset[disabled] .red-flamingo.btn:active, fieldset[disabled] .red-flamingo.btn.active {
  background-color: #ef4836;
}


/***********
Yellow Colors
************/
/***
Yellow Default
***/
/* Button */
.yellow.btn {
  color: white;
  background-color: #ffb848;
  border-color: "";
}
.yellow.btn:hover, .yellow.btn:focus, .yellow.btn:active, .yellow.btn.active {
  color: white;
  background-color: #ffac29;
}
.yellow.btn:active, .yellow.btn.active {
  background-image: none;
}
.yellow.btn.disabled, .yellow.btn.disabled:hover, .yellow.btn.disabled:focus, .yellow.btn.disabled:active, .yellow.btn.disabled.active, .yellow.btn[disabled], .yellow.btn[disabled]:hover, .yellow.btn[disabled]:focus, .yellow.btn[disabled]:active, .yellow.btn[disabled].active, fieldset[disabled] .yellow.btn, fieldset[disabled] .yellow.btn:hover, fieldset[disabled] .yellow.btn:focus, fieldset[disabled] .yellow.btn:active, fieldset[disabled] .yellow.btn.active {
  background-color: #ffb848;
}



/***
Yellow Gold
***/
/* Button */
.yellow-gold.btn {
  color: white;
  background-color: #e87e04;
  border-color: "";
}
.yellow-gold.btn:hover, .yellow-gold.btn:focus, .yellow-gold.btn:active, .yellow-gold.btn.active {
  color: white;
  background-color: #ca6e03;
}
.yellow-gold.btn:active, .yellow-gold.btn.active {
  background-image: none;
}
.yellow-gold.btn.disabled, .yellow-gold.btn.disabled:hover, .yellow-gold.btn.disabled:focus, .yellow-gold.btn.disabled:active, .yellow-gold.btn.disabled.active, .yellow-gold.btn[disabled], .yellow-gold.btn[disabled]:hover, .yellow-gold.btn[disabled]:focus, .yellow-gold.btn[disabled]:active, .yellow-gold.btn[disabled].active, fieldset[disabled] .yellow-gold.btn, fieldset[disabled] .yellow-gold.btn:hover, fieldset[disabled] .yellow-gold.btn:focus, fieldset[disabled] .yellow-gold.btn:active, fieldset[disabled] .yellow-gold.btn.active {
  background-color: #e87e04;
}


/***
Yellow Casablanca
***/
/* Button */
.yellow-casablanca.btn {
  color: white;
  background-color: #f2784b;
  border-color: "";
}
.yellow-casablanca.btn:hover, .yellow-casablanca.btn:focus, .yellow-casablanca.btn:active, .yellow-casablanca.btn.active {
  color: white;
  background-color: #f0632e;
}
.yellow-casablanca.btn:active, .yellow-casablanca.btn.active {
  background-image: none;
}
.yellow-casablanca.btn.disabled, .yellow-casablanca.btn.disabled:hover, .yellow-casablanca.btn.disabled:focus, .yellow-casablanca.btn.disabled:active, .yellow-casablanca.btn.disabled.active, .yellow-casablanca.btn[disabled], .yellow-casablanca.btn[disabled]:hover, .yellow-casablanca.btn[disabled]:focus, .yellow-casablanca.btn[disabled]:active, .yellow-casablanca.btn[disabled].active, fieldset[disabled] .yellow-casablanca.btn, fieldset[disabled] .yellow-casablanca.btn:hover, fieldset[disabled] .yellow-casablanca.btn:focus, fieldset[disabled] .yellow-casablanca.btn:active, fieldset[disabled] .yellow-casablanca.btn.active {
  background-color: #f2784b;
}

/***********
Purple Colors
************/
/***
Purple Default
***/
/* Button */
.purple.btn {
  color: white;
  background-color: #8e44ad;
  border-color: "";
}
.purple.btn:hover, .purple.btn:focus, .purple.btn:active, .purple.btn.active {
  color: white;
  background-color: #7c3b97;
}
.purple.btn:active, .purple.btn.active {
  background-image: none;
}
.purple.btn.disabled, .purple.btn.disabled:hover, .purple.btn.disabled:focus, .purple.btn.disabled:active, .purple.btn.disabled.active, .purple.btn[disabled], .purple.btn[disabled]:hover, .purple.btn[disabled]:focus, .purple.btn[disabled]:active, .purple.btn[disabled].active, fieldset[disabled] .purple.btn, fieldset[disabled] .purple.btn:hover, fieldset[disabled] .purple.btn:focus, fieldset[disabled] .purple.btn:active, fieldset[disabled] .purple.btn.active {
  background-color: #8e44ad;
}



/***
Purple Plum
***/
/* Button */
.purple-plum.btn {
  color: white;
  background-color: #8775a7;
  border-color: "";
}
.purple-plum.btn:hover, .purple-plum.btn:focus, .purple-plum.btn:active, .purple-plum.btn.active {
  color: white;
  background-color: #77639b;
}
.purple-plum.btn:active, .purple-plum.btn.active {
  background-image: none;
}
.purple-plum.btn.disabled, .purple-plum.btn.disabled:hover, .purple-plum.btn.disabled:focus, .purple-plum.btn.disabled:active, .purple-plum.btn.disabled.active, .purple-plum.btn[disabled], .purple-plum.btn[disabled]:hover, .purple-plum.btn[disabled]:focus, .purple-plum.btn[disabled]:active, .purple-plum.btn[disabled].active, fieldset[disabled] .purple-plum.btn, fieldset[disabled] .purple-plum.btn:hover, fieldset[disabled] .purple-plum.btn:focus, fieldset[disabled] .purple-plum.btn:active, fieldset[disabled] .purple-plum.btn.active {
  background-color: #8775a7;
}


