/* here you can put your own css to customize and override the theme */
/* overwrite style-metronic.css */
body { 
  font-family:'Open Sans', sans-serif,'�s�ө���',;
}
hr {
	margin-top:5px;
	margin-bottom:5px;	
}
.page-content-wrapper .page-content {
	padding: 10px 15px 10px;
}
.page-content.googlemap {
	padding: 0px;
}
.ie8 .page-content {
	padding: 10px 15px 10px;
}
.ie8 .page-content.googlemap {
	padding: 0px;
}
.btn {  /* style-metronic.css */
	font-size:15px;	
}
.page-header .navbar-nav > li.dropdown.user .dropdown-toggle .username {
  color: #ffffff;
  font-weight:bold;
}
.page-header.navbar { 
  height: 60px;
  min-height: 60px; 
}
.page-header.navbar .hor-menu {
	margin-top:24px;
	margin-left:450px;
}

.page-header-fixed .page-container {
  margin-top: 60px;  
}
.page-header .navbar-nav > li.dropdown.user  {
  margin-top:24px;
}
.user-nav {
	margin-top:30px !important;	
	margin-right:5px;
	z-index:1000;
}
.navbar-nav {
	margin-top:0px !important;	
}
.navbar-nav > li.dropdown-user  > a {
	padding-top:28px;
	padding-right:0px;
	padding-left:0px;
	padding-bottom:0px;	
}
.navbar-nav > li.dropdown-user  > a:hover, 
.nav .dropdown-user.open  > a
 {
	background-color:#6992C6;
}

.page-header.navbar .hor-menu ul.nav li > a {
	font-size:15px !important;	
	font-family: '�L�n������','�s�ө���','�ө���';
	padding:8px 8px;
}
.page-header.navbar .navbar-nav {
	margin-right: 5px;
}

.mega-menu .mega-menu-submenu li > h3 {
	font-size:15px;	
	font-family: '�L�n������','�s�ө���','�ө���';
}
.mega-menu .mega-menu-full .dropdown-menu {
  margin-left: auto ;
  margin-right: auto ;

}
.mega-menu-content li > a {
	font-size:15px !important;	
	font-family: '�L�n������','�s�ө���','�ө���';
}
.mega-menu .mega-menu-submenu {
	border-left: 1px dotted #A0A0A0;
	border-right: 0px none;
}

.mega-menu .mega-menu-submenu:first-child {
	border-left: 0px none;	
}
.mega-menu .mega-menu-submenu li {
	padding:0px !important;
}
.nav-tabs > li > a, .nav-pills > li > a {
    font-size: 15px;
}
.page-header .hor-menu .dropdown-menu li:hover > a.dummy, .page-header .hor-menu ul.nav li.active > a.dummy, .page-header .hor-menu ul.nav li.active > a.dummy:hover {
	background:none !important;
}

.hor-menu .mega-menu > li.active,
.hor-menu .mega-menu > li.active > a,
.hor-menu .mega-menu > li.active > a:hover
{
	color: #ffffff !important;
	background: none repeat scroll 0% 0% #9B59B6 !important;
}
.hor-menu .mega-menu > li.active .selected {
	border-top: 6px solid #9B59B6;
	left: 50%;
	bottom: 0px;
	position: absolute;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	display: inline-block;
	margin: 0px 0px -6px -7px;
	width: 0px;
	height: 0px;
	z-index:100;
}
/* bootstrap select */
.bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="span"] {
	margin-bottom:0px;	
}
.btn-group.bootstrap-select .btn {
	font-size:13px;	
}
.btn-group.bootstrap-select .btn-default {
	padding: 3px 5px;
	background-color: #DFF7F9;
}
.btn-group.bootstrap-select.open .dropdown-menu li > a {
	padding: 6px 10px 6px 13px;
}
.btn-group.bootstrap-select.open .dropdown-menu li > a:hover, 
.btn-group.bootstrap-select.open .dropdown-menu .active > a:hover { 
	background-color:#3399FF;
	color:#ffffff;
}
.btn-group.bootstrap-select.open .dropdown-menu li.selected > a {
	background-color:#007FBF;
	color:#ffffff;	
}
/*  end bootstrap select */
.page-content .page-breadcrumb.breadcrumb > li,
.page-content .page-breadcrumb.breadcrumb > li > a, 
.page-content .page-breadcrumb.breadcrumb > li > i, 
.page-content .page-breadcrumb.breadcrumb > li > span {
  color: #484848;
  font-size: 13px;
}
.form-control {  
  font-size: 13px;
  height:130%;
  padding:4px;
  display:inline;
  width:auto;
  border: 1px solid #D5D5D5;
  background-color:#DFF7F9;
}
.ui-accordion-content .form-control {
	padding:2px;
}
/*  ����� */
.form-label {
  font-size: 13px;
  font-weight:400;	
  margin-bottom: 0px;
}

.portlet {
	margin-bottom:15px;	
}
.portlet.box > .portlet-title {
	padding: 8px 10px 2px;	
}
.portlet > .portlet-title > .caption {
  float: left ;
  display: inline-block;
  font-size: 15px;
  line-height: 21px; /*  修改 */
  font-weight: 400;
  margin: 0;
  padding: 0;
}
.portlet-body TD {
	white-space:nowrap;	
	padding:3px;
}
.theme-panel > .toggler {
  top:0px;
  right:60px;
  padding:14px;
  cursor:pointer;
  position:absolute;

}
.theme-panel > .toggler-close {
  display: none;
  top:0px;
  right:60px;
  padding:14px;
  cursor:pointer;
  position:absolute;
  background: #3d3d3d url(../img/icon-color-close.png) center no-repeat !important;
}
.theme-panel > .theme-options {
  top:28px;
  right:40px;
  display:none;
  position:absolute;
  background:#3d3d3d;
}
.theme-panel > .theme-options > .theme-option {
  color:#cfcfcf;
  padding: 5px;
  border-top:1px solid #585858;
  margin-top: 0px;
  margin-bottom: 0px;
}
.theme-panel {
  width: 165px;
  margin-top: 1px;
  margin-right: 1px;
  z-index: 999;
  float: right;
  position:relative;
}
.theme-panel > .theme-options > .theme-option.theme-colors > ul > li {
  margin:0 0;
}
.page-sidebar-menu > li.active > a { 
  font-size: 15px;	
}
.page-sidebar-menu > li > a {
  font-size: 15px;
}
.page-sidebar-menu > li > ul.sub-menu > li > a {
  font-size: 15px;
}
.page-sidebar-menu > li > ul.sub-menu  li > ul.sub-menu > li > a {
  font-size: 15px;
}
.page-sidebar-menu > li.open > a {
  font-size: 15px;	
}
.page-content .page-breadcrumb.breadcrumb {
  margin-top: 0px;
  margin-bottom: 15px;
  background-color: #EEE;
}
/* modal */
.modal-body { 
	padding-top:10px;
	padding-bottom:10px;
}
.modal-header {
	padding:10px 20px;	
	background-color:#359ACE;
}
.modal-header.inner {
    padding: 10px 20px;
    background-color: #F49F75;
}

.modal-header .close {
	background-image: url("../img/remove-icon-small-white.png")  !important;
	opacity: 1;
}
.modal-header .close:hover, .modal-header .close:focus {
	color:#ffffff;
}
H4.modal-title {
	color:#ffffff;
	font-weight:bold !important;
	font-size:17px;	
}
.modal-footer { 
	padding: 5px 20px 0px 20px;
	text-align:left;
}
.modal-xl {
    width: 1000px !important;
}
.modal-sm {
    width: 700px !important;
}
.modal-xs {
    width: 500px !important;
}
.modal.inner {
	z-index:10056 !important;	
}
/* tab  */
.nav > li > a { 
	padding-top:8px;
	padding-bottom:8px;
}
.ui-datepicker {
	z-index:999;	
}
.table-header {
    background-color: #4B8DF8;
    color: #FFF;
    font-size: 13px;
    line-height: 38px;
    padding-left: 12px;
    margin-bottom: 0px;
	border-top: 1px solid #A6C9E2;
	border-left: 1px solid #A6C9E2;
}
.dropdown-menu {
	padding: 8px;
	min-width: 150px;
}
.radio-inline, .checkbox-inline {
	padding-left:0px;	
}
.btn-group.bootstrap-select.dropup.open .dropdown-menu {
	padding: 0px;
}
.btn-group.bootstrap-select.open .dropdown-menu {
	padding: 0px;
}
.ui-datepicker-next.ui-corner-all .ui-icon {
	text-indent: -9999px;
}
.ui-datepicker-prev.ui-corner-all .ui-icon {
	text-indent: -9999px;
}
/* multi-select */
.ms-container .ms-list {
	height:146px;	
}
/* modify Glyphicons icon size */
.input-group-addon {
	padding-top:0px;
	padding-bottom:0px;	
}
.btn.default.small {
	padding-top:3px;
	padding-bottom:3px;			
}
/* input form table style */
.keyinTableGray .outerTable {
	background-color: #ffffff;
	border-collapse:separate;
	border-spacing: 1px;
	*border-collapse: expression('separate', cellSpacing = '1px');
	/*border-top:2px solid #1C4B7F;*/
}
.keyinTableGray TD {
	padding-top:4px;
	padding-bottom:4px;
	border-spacing: 0px;
	font-size:13px;
}
.keyinTableGray .outerTable TD {
	padding-top:2px;
	padding-bottom:2px;
	border-spacing: 0px;
	font-size:13px;
}
.keyinTableGray .labelField{
	background:#E7E7E7;
	text-align:right;
	/*border-top: solid 1px #ffffff;*/
	border-bottom: dashed 1px #E8E8E8;
	border-right: solid 1px #E8E8E8;
	border-left: solid 1px #EDEBEB;
	white-space:nowrap;
}
.keyinTableGray .dataField{
	background: #ffffff;
	text-align:left;
	padding-left:10px;
	border-top: solid 1px #ffffff;
	border-bottom:dashed 1px #E8E8E8;
}
.keyinTableGray .dataField img{
	vertical-align:text-bottom !important;
}
.keyinTableGray .largeText{
	width:80%;
	height:80px;
}
.keyinTableGray .note {
	font-size:90%;
	color:#CC3300;
}
.form-control.multiselect {
	width:180px;
}
.form-control.multiselect OPTION {
	padding-top:0px;
	padding-bottom:3px;	
}
.cke_skin_kama .cke_dialog_body { z-index: 10200 !important; }
.cke_chrome {
	border-color:#D5D5D5 !important;	
}
.cke_top {
	padding-top:2px !important;	
	padding-bottom:2px !important;
	height:25px !important;
	/*background-image: -moz-linear-gradient(center top , #E7F7F9, #14B8C4) !important;*/
	/*background-color:#83AFB2 !important;*/
	/*border-bottom:1px solid #5D8689 !important;*/
}

.cke_button {
	padding:3px 4px !important;	

}
.cke_button__common_icon {
	background:url(icons.png) no-repeat 0px -24px !important;
}
.cke_editable {
	font-family: �s�ө���,�ө���;	
}
.cke_combo_button { 
	height:24px !important; 
}
.cke_combo_text {
	width:25px !important;
}
.cke_combopanel {
	z-index:15000 !important;	
	width:200px !important;
	height:100px !important;
}
/* jquery dialogbox */
.ui-dialog TD {
	padding-top:2px;
	padding-bottom:2px;
}
.ui-dialog .ui-dialog-titlebar-close {
    border: 1px solid #C5DBEC;
    background: url('../plugins/jquery-ui/images/ui-bg_flat_85_D9EDF7_40x100.png') repeat-x scroll 50% 50% #D9EDF7;
    font-weight: bold;
    color: #2E6E9E;
}
iframe[src="about:blank"] {
  display:block !important ;
}
.infoWin div{
	border-radius: 5px !important;	
	font-size:13px !important;
}
/*jquery tabs */
/*
.tabbable-custom .ui-widget-header {
	background: none !important;
}
.tabbable-custom.ui-widget-content {
	background: none !important;
	border:0px !important;
}
.tabbable-custom .ui-widget-header .ui-state-default {
	background: none !important;
	border-left:0px;
	border-right:0px;	
	font-weight:normal;
	color:#555 !important;
	border-top:0px !important;	
}
.tabbable-custom .ui-widget-header .ui-state-active {
	background: none !important;
	border-left:0px;
	border-right:0px;
	font-weight:normal;
	color:#555;
	border-top:3px solid #F3565D !important;
}
*/
/*tooltip z-index*/
.ui-tooltip {
	z-index:11000 !important;
	position:absolute !important;
	padding:3px !important;
	box-shadow:  1px 1px 2px #505050, 3px 3px 4px 1px #888888 !important;
	-moz-box-shadow: 4px 4px 5px 1px #888888 !important;
	-webkit-box-shadow:4px 4px 5px 1px #888888 !important;
	border: none !important;
}

.ui-state-highlight{
	background:url('../plugins/jquery-ui/images/ui-bg_flat_75_f3d8d8_40x100.png') repeat-x scroll 50% 50% #f3d8d8 !important;
}

.normal-label {
  font-size: 13px;
}
