/***
Boby
***/
body {
  background-color: #ffffff !important;
}

/*** 
Page Header
***/
/* Header search bar, toggler button & top menu */
.page-header.navbar {
  background-color: #6c9bd1;
  /* Top notification menu/bar */
  /* Header seaech box */
  /* Toggler button for sidebar expand/collapse and responsive sidebar menu */
}
.page-header.navbar.training-site {
  background-color: #705EA8;
}


/* Default Horizontal Menu */
.page-header.navbar {
  /* Horizontal mega menu */
}


/* extend */
.page-header.mega-menu {
  background-image:url(../../img/banner.jpg) !important;
  background-repeat:no-repeat;

}
.page-header .btn-navbar {
  background-color: #1BA0D9 !important;
}

